*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: darkslateblue;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;

  font-size: 16px;
  font-family:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  color: aliceblue;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
  margin: 3rem 0 0.5rem 0;
  font-weight: 500;
}

h1,
h2 {
  margin-top: 1rem;
}

hr {
  margin: 3rem 0 1.5rem 0;
}

p {
  margin: 1rem 0 0.5rem 0;
}

a {
  color: darksalmon;
}

img {
  margin-top: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

*::selection {
  background: blueviolet;
  color: aliceblue;
}
*::-moz-selection {
  background: blueviolet;
  color: aliceblue;
}
*::-webkit-selection {
  background: blueviolet;
  color: aliceblue;
}

wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 576px;
  margin: 2rem 1rem;
}

footer {
  margin-top: 3rem;
  padding: .5rem 0;
  
  border-top: 1px dashed aliceblue;

  opacity: 50%;
}

main.cv h1,
main.cv h2 {
  margin: 0;
}

.caption {
  opacity: 0.5;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

@media print {
  /* Dedicated to the fine HR people who still love to print out CVs to take it to the conference room. If this makes their day better, I'm happy. Truly. */

  body {
    font-size: 14px;
  }

  page {
    margin: 2cm;
  }

  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-inside: avoid;
  }
}
